@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

p {
  line-height: 1.5;
}

body {
  height: 100%;
  width: 100%;
  padding-top: 3rem;
  background-color: var(--Very-light-gray);
}

a {
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
}

button {
  cursor: pointer;
}

button:hover {
  filter: saturate(80%);
}


.App {
  min-height: 100vh;
  margin: 0 auto;
  max-width: 50rem;
  background-color: hsl(228, 33%, 97%)
}

@media (max-width: 800px) {
  .App {
    padding: 0.75rem;
  }

  .replies {
    padding-left: 0.75rem !important;
    margin-left: 0.75rem !important;
  }

  .active__user__actions {
    gap: 0rem;
  }

  .comment {
    flex-direction: column-reverse !important;
    position: relative;
  }

  .vote {
    flex-direction: row !important;
    width: max-content;
  }

  .comment__content__header__actions {
    position: absolute !important;
    bottom: 35px !important;
    right: 1rem !important;
  }

  .vote {
    align-items: center;
  }

  .upvote,
  .downvote {
    object-fit: contain;
    font-size: 1rem !important;
    height: 1rem;
    width: 1rem;
    align-items: center;
  }
}

@media (max-width: 400px) {
  .comment__content__header__actions {
    bottom: 1.6rem !important;
  }

  .active__user__actions {
    width: 100px;
  }
}